.NavItems {
  display: flex;
  height: 65px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  li a {
    &:focus, &:hover {
      background-color: inherit;
      color: $c-white;
    }
  }
}

